# Node and npm
node_modules

# Composer
vendor

# Git metadata
.git
.gitignore

# Laravel environment
.env

# Laravel runtime cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
